version: '3.3'

services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "3001:3000"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    ports:
      - "4001:3000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/books-collection?retryWrites=true&w=majority
    depends_on:
      - mongo

  mongo:
    image: mongo:4.4
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  prometheus:
    image: prom/prometheus
    container_name: prometheus1
    ports:
      - '9092:9090'
    volumes:
      - ./config:/etc/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'

  node-exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node_exporter1 
    ports:
      - '9102:9100'
 

  cadvisor:
    image: gcr.io/cadvisor/cadvisor
    container_name: cadvisor1
    ports:
      - '8089:8080'
    volumes:
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    

  grafana:
    image: grafana/grafana
    container_name: grafana1
    ports:
      - '3002:3000'
    restart: unless-stopped


volumes:
  mongo-data:

